@{
    ViewBag.Title = "Usage";
}
<h2>Usage</h2>
<p>The tutorials (text/images) on Nettuts+ are the copyright of their respective authors. You may use the effects demonstrated in these tutorials in your own work – commercial or non-commercial. You may use the effect without attribution unless otherwise stated in the tutorial.</p>
<p>The outcome of tutorials may not be used for resale or redistribution. For example, if you have followed a tutorial to produce a slideshow, you may not start selling that code as a slideshow component.</p>
<p>You may not reproduce in full or large part, the tutorials on this site, without written permission from the tutorial author and Nettuts+.
If you have any queries about the usage of images, code or content on Nettuts+, please contact us.</p>