@model ICollection<LibModels.Article>
<ul>
@foreach (var article in Model)
{
    <li>
       @Html.ActionLink(@article.Title, "Details", "Article", new {id=@article.ID }, null)
    </li>
}
</ul>