<div id="footer-wrapper">
    <footer id="footer" class="row">
        <section class="nine columns">
            <ul>
                <li>&copy; Copyright 2010-2012 Arteveldehogeschool</li>
                <li>@Html.ActionLink("Terms of usage", "Usage", "About")</li>
                <li><a href="mailto:info@arteveldehs.be?subject=Contact via footer website" title="Contacteer Arteveldehogeschool via email: info@arteveldehs.be">info@arteveldehs.be</a></li>
            </ul>
        </section>
        <section class="three columns">
            <ul>
                <li>Deze website is very cool :)</li>
            </ul>            
        </section>
    </footer>
</div>