<div id="header-wrapper">
    <header id="header" class="row">
        <hgroup id="header-logo" class="twelve columns">
            <h1>@Html.ActionLink("SocialGEO", "Index", "Home")</h1>
            <h2>BASELINE</h2>
        </hgroup>
        <section id="main-navigation" class="twelve columns">
            <!-- NAVIGATION: BAR -->
            @Html.Partial("_Navigation")
        </section>      
    </header>
</div>