/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
*{
	margin:0;
	padding:0;
}
html
{
    background:url('images/paper.jpg');
}
body
{
    background:none;
}
#login-wrapper
{
    position:absolute;
    width:400px;
}
form fieldset
{
    padding:12px;
}
form ol
{
    list-style:none;
    margin:0;
    padding:0;
}
form legend
{
    display:none;
}
form textarea
{
    max-width:500px;
    min-width:100%;
    min-height:86px;
}
.field-validation-error,
.validation-summary-errors{
    display: block;
    padding: 6px 4px;
    margin-top: -13px;
    margin-bottom: 12px;
    background: #C60F13;
    color: white;
    font-size: 12px;
    font-weight: bold;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.validation-summary-errors ul,
.validation-summary-errors ol
{
    margin-bottom:0px;
}   
/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


