<nav id="menu">
    <ul>
        <li>@Html.ActionLink("Articles", "Index", "Article")</li>
        <li>@Html.ActionLink("Users", "Index", "Account")</li>
        <li>@Html.ActionLink("Roles", "Index", "Role")</li>
    </ul>
</nav>