@model LibModels.Role
@{
    ViewBag.Title = "Management of roles";
}
<h2>Delete Confirmation</h2>
<p>Are you sure you want to delete the role: <strong>@Model.Title</strong>?</p>
@using (Html.BeginForm()) {
    <p>
        <input  class="button" type="submit" value="Delete" />
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
